.env
.env.*
!.env.example

node_modules/
**/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

dist/
build/
out/
*.tsbuildinfo
# Python için
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/

.vscode/
.idea/
*.swp
*.swo
.DS_Store
.history/

*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.docker/
docker-compose.override.yml
tmp/
temp/

database/*.db

Thumbs.db
ehthumbs.db